@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    background-color: #202124;
    color: #fff;
    font-size: 16px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* App Area CSS */
.app-area {
    max-width: 750px;
    background-color: #303134;
    margin: 50px auto;
    padding: 35px;
    border: 1px solid #5f6368;
}

.app-area h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 22px;
    margin-bottom: 25px;
}

/* Add Task Area */
.form-group {
    display: flex;
}

.form-group input {
    flex: 1;
    background-color: transparent;
    border: 1px solid #5f6368;
    padding: 15px;
    font-size: 16px;
    outline: none;
    color: #fff;
    margin-right: 15px;
}

.form-group button {
    cursor: pointer;
    padding: 15px 30px;
    font-size: 17px;
}

/* task-area CSS */
.task-area {
    margin-top: 40px;
}

.task-area h2 {
    text-align: center;
    font-size: 18px;
    margin-bottom: 25px;
}

.single-task {
    display: flex;
    background-color: #202124;
    padding: 10px;
    padding-left: 35px;
    position: relative;
    margin-bottom: 10px;
}

.single-task::after {
    position: absolute;
    content: "\f111";
    font-weight: 900;
    font-family: "Font Awesome 6 Free";
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 12px;
}

.single-task.task-completed::after {
    content: "\f00c";
}

.single-task input {
    flex: 1;
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 16px;
    outline: none;
}

.single-task button {
    padding: 10px 15px;
    border: none;
    margin-left: 10px;
    cursor: pointer;
}

.edit-task {
    background-color: #ffc107;
}

.complete-task {
    background-color: #198754;
    color: #fff;
}

.delete-task {
    background-color: #dc3445;
    color: #fff;
}

/* Other CSS */
#error-div {
    color: #ffc107;
    font-size: 14px;
    margin-top: 10px;
}



/* <div class="single-task">
<input type="text" value="My task one" readonly />
<button class="edit-task">Edit</button>
<button class="complete-task">Complete</button>
<button class="delete-task">Delete</button>
</div>
<div class="single-task">
<input type="text" value="My task one" readonly />
<button class="edit-task">Edit</button>
<button class="complete-task">Complete</button>
<button class="delete-task">Delete</button>
</div> */